* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    display: grid;
    place-items: center;
}

main {
    margin: 0 auto;
    width: 144.0rem;
    height: 102.4rem;
    background-image: url(./images/fundo.svg);
}

.toupeiras {
    margin: 30.0rem auto 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: center;
    width: 105.0rem;
}

.hole {
    width: 22.18rem;
    height: 16.81rem;
    background-image: url(./images/toupeira6.svg);
}

.animation1 {
    animation: toupeira .7s;
    animation-delay: 3s;
    animation-iteration-count: 1;
    
}

.animation2 {
    animation: toupeira .7s;
    animation-delay: 10s;
    animation-iteration-count: 1;

}

.animation3 {
    animation: toupeira .7s;
    animation-delay: 7s;
    animation-iteration-count: 1;

}

@keyframes toupeira {
    0% {
        background-image: url(./images/toupeira1.svg);
    }

    20% {
        background-image: url(./images/toupeira2.svg);
    }

    40% {
        background-image: url(./images/toupeira3.svg);
    }

    60% {
        background-image: url(./images/toupeira4.svg);
    }

    80% {
        background-image: url(./images/toupeira5.svg);
    }

    100% {
        background-image: url(./imagess/toupeira6.svg);
    }

}